@model CoreAPIEmpty.ViewModels.HomeDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>ViewModel Demo from checking.cshtml inside OtherViews</h1>
    <h3>@Model.PageTitle</h3>
    <h3>@Model.Employee.Name</h3>
    <h3>@Model.Employee.Email</h3>
</body>
</html>